<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
</head>
<body class="container grid-lg">

<h2>History</h2>

<form class="form-inline">
    <input class="form-input" type="number" placeholder="From line">
    <input class="form-input" type="number" placeholder="To line">
    <button class="btn btn-primary">Filter</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Operation</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    {% for item in history %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item }}</td>
        <td>-</td>
    </tr>
    {% endfor %}
</tbody>
</table>


<a href="{{ url_for('index') }}" class="btn">Back</a>

</body>
</html>